.photos-general-container {
}

.photos {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.photo {
  width: 200px;
  margin-right: 20px;
  margin-bottom: 20px;
  border-style: solid;
  padding: 10px;
}

.photo-id {
  margin-top: -10px;
  margin-bottom: 10px;
}

.photo-title {
  height: 45px;
  overflow: hidden;
}

.loading-photos {
  padding-left: 20px;
  text-align: center;
}
