<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />

<nav>
  <ul class="navigation-bar">
    <li>
      <a routerLink="/home" class="navigation-item">Home</a>
    </li>
    <li>
      <a routerLink="/about" class="navigation-item">About</a>
    </li>
    <li>
      <a routerLink="/albums" class="navigation-item">Albums</a>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>
